<header class="header">
  <div class="container">

    <div class="logo">
Angular    </div>

    <nav>
      <a
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="active">
        Projects
      </a>

      <a
        routerLink="/services"
        routerLinkActive="active">
        Services
      </a>


      <a 
      routerLink="/blogs"
      routerLinkActive="active">
        Blogs
      </a>


    </nav>

  </div>
</header>